EIO:CFG_1.0:6:1::
#
EIO_SIGNAL:

      -Name "FWD_Conveyor" -SignalType "DO"

      -Name "BWD_Conveyor" -SignalType "DO"

      -Name "DI_01" -SignalType "DI"

      -Name "DI_02" -SignalType "DI"

      -Name "DI_03" -SignalType "DI"

      -Name "DO_01" -SignalType "DO"

      -Name "DO_02" -SignalType "DO"
