EIO:CFG_1.0:6:1::
#
EIO_UNIT:
      -Name "Board10" -Type "d652" -Vendor "ABB" -Bus "DeviceNet" -DeviceNetAddress "10"
#
EIO_SIGNAL:
      -Name "DI_01" -SignalType "DI" -Unit "Board10" -PhySig "0" -Access "All"
      -Name "DI_02" -SignalType "DI" -Unit "Board10" -PhySig "1" -Access "All"
      -Name "DI_03" -SignalType "DI" -Unit "Board10" -PhySig "2" -Access "All"
      -Name "DI_04" -SignalType "DI" -Unit "Board10" -PhySig "3" -Access "All"
      -Name "DI_05" -SignalType "DI" -Unit "Board10" -PhySig "4" -Access "All"
      -Name "DI_06" -SignalType "DI" -Unit "Board10" -PhySig "5" -Access "All"
      -Name "DO_01" -SignalType "DO" -Unit "Board10" -PhySig "0" -Access "All"
      -Name "DO_02" -SignalType "DO" -Unit "Board10" -PhySig "1" -Access "All"
      -Name "DO_03" -SignalType "DO" -Unit "Board10" -PhySig "2" -Access "All"
      -Name "DO_04" -SignalType "DO" -Unit "Board10" -PhySig "3" -Access "All"
      -Name "DO_05" -SignalType "DO" -Unit "Board10" -PhySig "4" -Access "All"
      -Name "DO_06" -SignalType "DO" -Unit "Board10" -PhySig "5" -Access "All"
      -Name "FWD_Conveyor" -SignalType "DO" -Unit "Board10" -PhySig "6" -Access "All"
      -Name "BWD_Conveyor" -SignalType "DO" -Unit "Board10" -PhySig "7" -Access "All"
